
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* , *::before , *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


span.MuiCircularProgress-root {
  width: 86px !important;
  height: 76px !important;
}

/* In your CSS or TailwindCSS file */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4A5568; /* Adjust to match your theme */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #E2E8F0; /* Adjust to match your theme */
}

.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-tickLabel{
  fill: #E2E8F0 !important;
}